#discover-container {
  margin-top: 50px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#safiri-logo {
  width: 150px;
}
#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-bar {
  width: 40%;
  border: solid 2px #ddd;
  border-radius: 5px;
}
#handle-savedplaces-button {
  border: solid 2px #ddd;
  border-radius: 5px;
  display: none;
}
#handle-savedplaces-button:hover {
  font-weight: bold;
}

#saved-content-container {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 70px;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
}
.save-button {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.save-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.place-card {
  background-color: whitesmoke;
  display: inline-grid;
  margin: 10px 10px;
  width: 500px;
  height: fit-content;
  border: solid 3px #ddd;
  border-radius: 10px;
  text-align: center;
}

details summary {
  cursor: pointer;
}
details div {
  padding: 10px;
}
details[open] div {
  animation: sweep 3s linear;
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.place-video {
  width: 100%;
  height: fit-content;
  border: solid 1px #ddd;
  transition: transform 0.3s ease-in-out;
}
.place-video:hover {
  cursor: pointer;
  transform: scale(1.01);
}
.saved-place-card {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  width: 265px;
  height: fit-content;
  border: solid 2px #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: xx-small;
  margin: 5px;
  padding: 10px;
}
.unsave-button {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}
.unsave-button:hover {
  cursor: pointer;
  font-weight: bold;
}
#discover-page-footer {
  margin-right: 300px;
}
@media screen and (max-width: 860px) {
  #saved-content-container {
    width: 0%;
  }
  #discover-container {
    margin-right: 0px;
  }
  #handle-savedplaces-button {
    display: inline;
  }
}
@media screen and (max-width: 560px) {
  .place-card {
    width: 200px;
  }
  .place-video {
    width: 100%;
    height: fit-content;
  }
}
@media screen and (max-width: 500px) {
  .place-card {
    width: 200px;
  }
  .place-video {
    width: 100%;
    height: fit-content;
  }
  #discover-container {
    margin-left: 100px;
  }
}

/* #places-container {
} */
