
.navbar {
    background-color: #cea41c;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-logo{
    height: 5%;
    width: 5%;
  }